spring:
  application:
    name: SaiMessAdminPanel
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://dpg-d5ajenjuibrs73btcpeg-a.oregon-postgres.render.com:5432/smap_w0ml
    username: root
    password: aWpnHuwYqMBP0vmlmMEQM44BfKCRa30z
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
